 :root {
  /* Colores principales */
  --green-pantone-372: #C6FF00;
  --blue-primary: #1e40af;
  --blue-hover: #0033a0;
  --text-dark: #1b1b1b;
  --text-light: #f8fafc;
  --bg-light: #f8fafc;
  --bg-dark: #0f172a;

  /* Tipografía */
  --font-primary: 'Inter', sans-serif;

  /* Espaciados */
  --padding-section: 60px;
  --border-radius: 12px;
}
